@font-face { font-family: "TitilliumText22"; src: url('fonts/TitilliumText22.otf'); }
@font-face { font-family: "TitilliumText22L"; src: url('fonts/TitilliumText22Light.otf'); }

body {
    background: url(img/background.png) no-repeat center top / cover;
}

.site-header {
    width: 26.8125em;
    margin: 3.4375em auto 1em;
}

.site-header__logo {
    opacity: 0.2;
}

@media (max-width: 37.5em) {
    .site-header {
        width: 90vw;
    }
    .site-header__logo {
        width: 100%;
    }
}

.site-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container {
    text-align: center;
    width: 26.25em;
    margin: 0 2em 2.1875em;
}

@media (max-width: 37.5em) {
    .form-container {
        width: 95vw;
        margin: 0 0 2.1875em;
    }
    .left-col {
        display: flex;
        flex-flow: column nowrap;
        align-items: center; 
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 20px rgba(0, 0, 0, 0.2) solid;
    border-radius: 4px;
    background-clip: padding-box;
}

@media (max-width: 37.5em) {
    .form {
        width: 90%;
        margin: 0 auto;
        border: 5px rgba(0, 0, 0, 0.2) solid;
    }
}

.form-header {
    margin: 0 0 .5em 0;
    font-size: 2em;
    color: #fff;
    font-family: "TitilliumText22";
    font-weight: 100;
    text-shadow: 0 2px 2px black;
}

@media (max-width: 37.5em) {
    .form-header {
        font-size: 1.5em;
    }
}

.form__item {
    width: 85%;
    height: 2.5em;
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 1.25em;
}

@media (max-width: 37.5em) {
    .form__item {
        width: 90%;
        border-left: none;
        border-right: none;
        border-top: none;
        border-radius: 0px;
    }
}

.item__label {
    height: 1.75em;
    width: 3.25em;
    border-right: 1px solid #c6c6c6;
}

.item__icon-username {
    background: url(img/username.png) no-repeat center center;
}

.item__icon-password {
    background: url(img/password.png) no-repeat center center;
}

.item__icon-email {
    background: url(img/email.png) no-repeat center center;
}

.item__icon-phone {
    background: url(img/phone.png) no-repeat center center;
}

.item__icon-location {
    background: url(img/location.png) no-repeat center center;
}

.form__textarea {
    height: 15em;
    border: 1px solid #c6c6c6;
}

.item__input {
    border: none;
    margin-left: 0;
    font-family: "TitilliumText22L";
    width: 80%;
    padding: 11px;
}

.item__textarea {
    width: 100%;
    resize: none;
    border: none;
    align-self: flex-start;
    padding: .5em;
    font-family: "TitilliumText22L";
}

.form--checkbox {
    border: none;
    margin: 0.3125em auto;
    font-family: "TitilliumText22L";
    color: #c6c6c6;
}

.checkbox__sign-in {
    margin: 20px auto;
}

.item__tick {
    position: absolute;
    opacity: 1;
    display: none;
}

.checkmark {
    height: 1.25em;
    width: 1.25em;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-right: 1em;
    cursor: pointer;
}

.recover__send {
    margin: 20px auto;
    border: none;
}

.checkmark:hover {
    background: linear-gradient(#addc54, #7ec31f);
    border: 1px solid #3b9a00;
}
    
.item__sign {
    margin: 0 auto 1.25em;
}

.item__select {
    width: 85%;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    color: #808080;
}

.form__button {
    width: 100%;
    height: 46px;
    margin: 0 auto;
    background: linear-gradient(#addc54, #7ec31f);
    border: 1px solid #3b9a00;
    border-radius: 3px;
    font-size: 1.5em;
    color: #fff;
    font-family: "TitilliumText22";
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.form__button:hover {
    background: linear-gradient(#7ec31f, #addc54);
}

@media (max-width: 37.5em) {
    .form__button {
        font-size: 1em;
    }
}

.button--small {
    width: 40%;
    height: 40px;
    margin-right: 0px;
    font-size: 1.125em;
}

@media (max-width: 37.5em) {
    .button--small {
        font-size: 1em;
    }
}

.button--left {
    width: 45%;
    margin-left: 0;
}

.button--right {
    width: 45%;
}

.button--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button__cancel {
    background: linear-gradient(#f76f7f, #f03747);
    border: 1px solid #a2202a;
}

.button__cancel:hover {
    background: linear-gradient(#f03747, #f76f7f);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bottom-container {
    width: 22.5em;
    margin: 0 auto;
    text-align: center;
}

.bottom-container__logo {
    margin-top: 0.625em;
    width: 22.5em;
    opacity: 0.2;
}

.bottom-container__website {
    width: 15.625em;
    opacity: 0.2;
    margin: 2em 0;
}

@media (max-width: 37.5em) {
    .bottom-container {
        width: 90vw;
    }
    .bottom-container__logo, .bottom-container__website {
        width: 100%;
    }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

