@font-face { font-family: "TitilliumText22"; src: url('fonts/TitilliumText22.otf'); }
@font-face { font-family: "TitilliumText22L"; src: url('fonts/TitilliumText22Light.otf'); }

body {
    background: url(img/background.png) no-repeat center top / cover;
}

.site-header {
    width: 26.8125em;
    margin: 3.4375em auto 1em;
}

.site-header__logo {
    opacity: 0.2;
}

.site-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container {
    text-align: center;
    width: 26.25em;
    margin: 0 2.5em 2.1875em;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 20px rgba(0, 0, 0, 0.2) solid;
    border-radius: 4px;
    background-clip: padding-box;
}

.form-header {
    margin: 0 0 .5em 0;
    font-size: 2em;
    color: #fff;
    font-family: "TitilliumText22";
    font-weight: 100;
    text-shadow: 0 2px 2px black;
}

.form__item {
    width: 85%;
    height: 2.5em;
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 1.25em;
}

.form__textarea {
    height: 15em;
}

.item__image {
    padding: 0 1em;
    border-right: 1px solid #c6c6c6;
}

.item__input {
    border: none;
    padding-left: 1em;
    font-family: "TitilliumText22L";
    width: 70%;
}

.item__textarea {
    width: 100%;
    resize: none;
    border: none;
    align-self: flex-start;
    padding: .5em;
    font-family: "TitilliumText22L";
}

.form--checkbox {
    border: none;
    margin: 0.3125em auto;
    font-family: "TitilliumText22L";
    color: #c6c6c6;
}

.checkbox__sign-in {
    margin: 20px auto;
}

.item__tick {
    position: absolute;
    opacity: 0;
    display: none;
}

.checkmark {
    height: 1.25em;
    width: 1.25em;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-right: 1em;
    cursor: pointer;
}

.recover__send {
    margin: 20px auto;
    border: none;
}

.checkmark:hover {
    background: linear-gradient(#addc54, #7ec31f);
    border: 1px solid #3b9a00;
}
    
.item__sign {
    margin: 0 auto 1.25em;
}

.item__select {
    width: 80%;
}

.form__button {
    width: 100%;
    height: 46px;
    margin: 0 auto;
    background: linear-gradient(#addc54, #7ec31f);
    border: 1px solid #3b9a00;
    border-radius: 3px;
    font-size: 1.5em;
    color: #fff;
    font-family: "TitilliumText22";
    text-shadow: 1px 1px 1px #000;
}

.button--small {
    width: 40%;
    height: 40px;
    margin-right: 0px;
    font-size: 1.125em;
}

.button--left {
    width: 45%;
    margin-left: 0;
}

.button--right {
    width: 45%;
}

.button__cancel {
    background: linear-gradient(#f76f7f, #f03747);
    border: 1px solid #a2202a;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bottom-container {
    width: 22.5em;
    margin: 0 auto;
}

.bottom-container__logo {
    margin-top: 0.625em;
    width: 22.5em;
    opacity: 0.2;
}

.bottom-container__website {
    width: 15.625em;
    opacity: 0.2;
    margin: 2em 3.4375em;
}